.boton1{
    background-color: blueviolet;
    color: aquamarine;
}
.boton2{
    border-radius: 15px;
    padding: 10px 20px;
    background-color: rgb(52, 117, 190);
    color: aquamarine;
}
.boton3{
    border-radius: 15px;
    padding: 20px 20px;
    background-color: rgb(134, 45, 218);
    color: rgb(55, 218, 163);
    text-align: end;
    border: none;
    font-size: 25px;
    font-family: cursive;
}